.cadastro{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    color: #ce477f;
    padding: 20px;
    border-radius: 5px;
}

.cadastro h4 {
    margin: 7px;
}

#bem_vindo {
    font-size: 25px;
    margin-bottom: 20px;
    align-self: center;
}

.cadastro input {
    border: 2px solid #32b9cd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 3px 2px;
}

.cadastro button {
    background-color: #ce477f;
    border-radius: 5px;
    color: white;
    width: 60px;
    border: 0;
    padding: 3px 0;
    align-self: center;
    cursor: pointer;
}